<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.yonyou.uap.ump.malaunch">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/standard_maserverDemo"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.sf.ehcache.constructs.classloader.ClassLoaderAwareCache"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="standard_maserverDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${FIELD_NC_HOME}\..\MOB\ump_server"/>
</launchConfiguration>
